main {
  padding: 1rem;
}

table {
  margin-top: 1rem;
}

.searchBarWrapper {
  display: flex;
  justify-content: space-between;
  align-item: center;
  width: 18rem;
}

.searchBox {
  width: 12rem;
}

.submitButton {
  height:100%;
}


